.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}

.sign-in-h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.sign-in-form {
    display: flex;
    justify-content: center;
}

label {
    margin-bottom: 10px;
}

input {
    margin-bottom: 10px;
}

button {
    padding: 0 10px;
    margin: 0 30px;
}

